<!DOCTYPE html>
<html>
	<head>
		<title>{{pageTitle}}</title>
		{{> head}}
	</head>
	<body>
		<div class="container">
			<main class="js-module">
				{{{body}}}
			</main>
		</div>
		{{> foot}}
	</body>
</html>
